@{
	ViewBag.Title = "Resubscribe Emails";
}
@{
	ViewBag.Title = "Resubscribe Emails";
}

<h2>Are you sure you want to Resubscribe to emails??</h2>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Resubscribe" class="btn btn-default" /> |
		@Html.ActionLink("Cancel", "Index")
	</div>
}

