@{
	ViewBag.Title = "Registration Almost Complete";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>
<div>
	<p>
		You are almost done registering. Check your email for the automated message to confirm your email before you will be able to login.
	</p>
</div>
