@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>Online Permission Slips is a simple solution that brings your standard permission slip processes into the digital age.</p>
<p>Managing the paper forms while keeping track of the checks/cash payments are no longer necessary.</p>
