@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    Trash Panda Solutions llc<br />
    Minneapolis, MN<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@TrashPandaSolutions.com">Support@TrashPandaSolutions.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@TrashPandaSolutions.com">Marketing@TrashPandaSolutions.com</a>
</address>