<div class="panel panel-default">
	<div class="panel-body TPS_Full_Screen_Only">
		@Html.MVCGrid("GuardianSearchResults")
	</div>
	<div class="panel-body TPS_Mobile_Screen_Only">
		@Html.MVCGrid("GuardianSearchResultsMobile")
	</div>

</div>
